.App {
  text-align: center;
  background-color: #282c34;
}

@font-face {
  font-family: stfont;
  src: url('./STJEDISE.TTF');
}

.bodyAll {
  background-image: url("space.jpg");  
  border-radius: 100%/500px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 2vmin);
  font-family: stfont;
  color: yellow;
  text-align: center;
}

.App-MainComponent {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  color: white;
}

.intro {
  display: grid;
  justify-content: center;
  align-content: center;
  color: yellow;
}

.introh1 {
  text-align: center;
  font-size: 10vw;
  font-family: stfont;
  font-weight: 100;
  margin-top: 20vh;
  max-width: fit-content;
  max-height: 80vh;
}